@use 'variable.scss' as c;

.hero{
    position:relative;
    width:100%;
    .block{
        position:absolute;
        top:100px;        
        left:320px;
        width:60rem;
        z-index:2;
    }
    video{
        filter:contrast(1.25) saturate(.4) brightness(.25) blur(5px);
        width:100%;
    }     
    &__title{
        font:900 9.6rem/9.6rem c.$ff;
        color:c.$bg;
        text-transform:uppercase;  
    }
    &__title-land{
        @extend .hero__title;
        strong{
            color:c.$principal;
        }
    }
    &__txt{
        font:c.$ff-dsc-hm;
        letter-spacing:3px;
        margin-top:.8rem;
        color:c.$bg;
    }
    &__txt-land{
        @extend .hero__txt;
        letter-spacing: 0px;
    }
    &__txt-destaque{
        @extend .hero__txt;
        letter-spacing:0px;
        font-weight:800;
        color: c.$principal;
    }
    &__btn{
        font:c.$ff-btn;
        text-transform:uppercase;
        background:c.$gradientPrincipal;
        border-radius:.4rem;
        color:c.$bg;
        width:42rem;
        height:7.6rem;
        margin-top:2rem;
    }
    &__img{
        width:100%;
        height:80vh;
        max-height:1024px;
        object-fit: cover;
    }
    @media screen and (max-width:1024px){
        &__img{
            height:90vh;
            object-fit:cover;
        }
        .block{
            top:20vh;
            left:2rem;
            width:70%;
        }
        &__title{
            font:c.$ff-h1-mm;
            line-height:4.8rem;
        }
        &__txt{
            font:c.$ff-dsc-mm;
            letter-spacing: 0px;
            span::after{
                content:"\a";
                white-space: pre;
            }
        }
        &__title-land{
            @extend .hero__title;
        }
        &__txt-destaque{
            @extend .hero__txt;
            letter-spacing:0px;
            font-weight:800;
            color: c.$principal;
        }
        &__btn{
            width:24rem;
            font-size:2.4rem;
            height:6rem;
        }
        video{
            height:80vh;
            object-fit: cover;
        }
    }
}