$principal: #404040;
$principal-h: #8c8c8c;
$formPlaceholder: #d9d9d9;
$secondary: #ed6928;
$secondary-h:#f18e5c;
$terciary:#ACC7EC;
$bg:#f2f2f2;
$bgOa: #fff;
$bgQuotes:#FFF7F3;
$bgTransparent: rgba(255, 255, 255,0%);
$gradientPrincipal: linear-gradient(90deg, #ED6928, #F5B958);
$gradientPrincipal-h:linear-gradient(90deg, #f18e5c, #f5b958);
$gradientWhite: linear-gradient(105deg, #FFF5E4, #F5BB9E);
$ff: "Barlow Condensed", sans-serif;
$ff-dsc: 300 1.6rem/2.4rem $ff;
$ff-dsc-mm: 300 2rem/2.4rem $ff;
$ff-dsc-hm: 300 3.2rem/4rem $ff;
$ff-spacing-dsc: .08rem;
$ff-st: 800 1.6rem $ff;
$ff-h1-sm: 900 3.2rem $ff;
$ff-h1-mm: 900 4.8rem $ff;
$ff-h1-hm: 800 8rem/8.4rem $ff;
$ff-h2:900 6.4rem $ff;
$ff-h2-mm: 800 5.2rem/5.2rem $ff;
$ff-btn: 800 3.2rem $ff;
$ff-btn-modal: 900 1.6rem $ff;
$transition: all .25s ease-in;
$transition-smt: all .3s ease-in-out;
$mg16: 1.6rem 0;
$shadow-box: 1px 1px 10px rgba(10,10,10,20%);
$shadow-box-h:4px 4px 15px rgba(10, 10, 10, 25%);