html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
  border: none;
  outline: transparent;
  cursor: pointer;
}

.hero {
  position: relative;
  width: 100%;
}
.hero .block {
  position: absolute;
  top: 180px;
  left: 320px;
  width: 65rem;
  z-index: 2;
}
.hero video {
  filter: contrast(1.25) saturate(0.4) brightness(0.25) blur(5px);
  width: 100%;
}
.hero__title {
  font: 900 9.6rem/9.6rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
  text-transform: uppercase;
}
.hero__txt {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  letter-spacing: 3px;
  margin-top: 0.8rem;
  color: #fbfbfb;
}
.hero__btn {
  font: 800 3.2rem "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  border-radius: 0.4rem;
  color: #fbfbfb;
  width: 42rem;
  height: 7.6rem;
  margin-top: 2rem;
}
.hero__img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
@media screen and (max-width: 1024px) {
  .hero .block {
    top: 24vh;
    left: 2rem;
    width: 90%;
  }
  .hero__title {
    font: 900 4.8rem "Barlow Condensed", sans-serif;
    line-height: 4.8rem;
  }
  .hero__txt {
    font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
  }
  .hero__txt span::after {
    content: "\a";
    white-space: pre;
  }
  .hero__btn {
    width: 24rem;
    font-size: 2.4rem;
    height: 6rem;
  }
  .hero video {
    height: 80vh;
    object-fit: cover;
  }
}

.carrer {
  padding: 6rem 8rem 6rem 1rem;
  width: 100%;
  background: #fbfbfb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.carrer-symbol {
  transition: all 0.25s ease-in;
}
.carrer-symbol--active {
  rotate: 90deg;
}
.carrer__sidebar {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d9d9d9;
}
.carrer__sidebar-itens {
  width: 100%;
  flex-direction: column;
  margin: 1.2rem;
}
.carrer__sidebar-itens .seletores {
  height: 0;
  overflow: hidden;
  transition: all 0.25s ease-in;
}
.carrer__sidebar-itens .seletores--active {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.carrer__sidebar-itens .seletores--active div {
  margin-top: 2rem;
  margin-left: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.carrer__sidebar-itens .seletores--active div input[type=checkbox] {
  outline: 1px solid #404040;
  margin-right: 1.2rem;
}
.carrer__sidebar-itens .seletores--active div input[type=checkbox]:hover {
  outline: 1px solid #ed6928;
  border: 1px solid #ed6928;
}
.carrer__sidebar-itens .seletores--active div input[type=checkbox]:focus {
  outline: 1px solid #ed6928;
}
.carrer__sidebar-itens .seletores--active div label {
  font: 300 1.6rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
}
.carrer__sidebar-btn {
  width: 100%;
  padding-right: 3.2rem;
  box-sizing: border-box;
  color: #404040;
  font-weight: 800;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.carrer__sidebar hr {
  width: 90%;
  height: 2px;
  background: #d9d9d9;
  border: transparent;
  margin: 1rem auto;
}
.carrer__opportunities {
  flex: 1 1 80%;
}
.carrer__opportunities input[type=search] {
  width: 100%;
  padding: 1.6rem 1rem;
  box-sizing: border-box;
  margin-right: 2rem;
  border-radius: 0.4rem;
  border: transparent;
  outline: 1px solid #d9d9d9;
}
.carrer__opportunities input[type=search]::placeholder {
  color: #d9d9d9;
  letter-spacing: 1px;
}
.carrer__opportunities input[type=search]:focus {
  outline: 2px solid #f18e5c;
  border: transparent;
}
.carrer__opportunities-modal {
  padding: 2.8rem 3.2rem;
  margin-top: 2rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.carrer__opportunities-modal:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.modal__title, #modal .modal__title {
  margin-bottom: 0.4rem;
  font: 900 3.2rem "Barlow Condensed", sans-serif;
  color: #ed6928;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.modal__tags {
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.modal__tags--local, .modal__tags--period, .modal__tags--qtde, .modal__tags--journey {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 1.2rem;
  color: #404040;
}
.modal__tags--local .txt-tags, .modal__tags--period .txt-tags, .modal__tags--qtde .txt-tags, .modal__tags--journey .txt-tags {
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  color: #d9d9d9;
}

.txt-date {
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  color: #404040;
}

.hero-video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 20% 0;
}

.carrer__title {
  font: 800 8rem/8.4rem "Barlow Condensed", sans-serif;
  color: #787878;
  text-transform: uppercase;
}

#modal {
  display: none;
  width: 60vw;
  height: 80vh;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  padding: 4rem;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
  overflow: auto;
}
#modal .dismiss {
  position: absolute;
  display: block;
  border: 1px solid #404040;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #404040;
  border-color: #404040;
  right: 4rem;
  top: 4rem;
  cursor: pointer;
  transition: all 0.25s ease-in;
  z-index: 99;
}
#modal .dismiss:hover {
  transform: scale(1.05);
}
#modal .bloco {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
#modal .modal__title {
  font-size: 8rem;
}
#modal .txt-date {
  margin-bottom: 3rem;
}
#modal .txt, #modal .franquias__txt {
  font-size: 2rem;
  text-align: left;
  line-height: 2.4rem;
}
#modal input {
  border: none;
  background-color: #009951;
  font: 800 3.2rem "Barlow Condensed", sans-serif;
  padding: 1.4rem 4rem;
  border-radius: 0.4rem;
  color: #fbfbfb;
  margin: 2rem auto;
  transition: all 0.25s ease-in;
  font-size: 2.4rem;
  text-transform: uppercase;
}
#modal input:hover {
  background-color: #8c8c8c;
  color: #fbfbfb;
}

@media screen and (max-width: 1024px) {
  .carrer__title {
    font: 900 4.8rem "Barlow Condensed", sans-serif;
    width: 80%;
  }
  .carrer__sidebar {
    display: none;
  }
  .modal__tags {
    padding: 0;
    gap: 1rem;
  }
  .modal__tags--local, .modal__tags--period, .modal__tags--qtde, .modal__tags--journey {
    padding: 0;
  }
}
footer {
  background: #ed6928;
  color: #fbfbfb;
  padding: 2.4rem 2rem;
  font: 300 1.4rem/2.8rem "Barlow Condensed", sans-serif;
}
footer .foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
footer .foot:last-of-type {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
footer .foot__column a {
  margin: 1rem 0;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
footer .foot__column a:hover {
  color: #fff;
}
footer .foot__column-email {
  font-size: 1.6rem;
}
footer .foot__column-email::before {
  content: "\f0e0";
  font: var(--fa-font-regular);
  font-weight: 400;
  margin-right: 1rem;
  vertical-align: middle;
}
footer .foot__column-wpp {
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
footer .foot__column-wpp::before {
  content: "\f232";
  font-family: "FontAwesome";
  font-size: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
footer .foot__column-title {
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  font-weight: 800;
}
footer .foot__column-unidades {
  margin: 1rem 0;
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
}
footer .foot__btn {
  border: none;
  background: linear-gradient(105deg, #FFF5E4, #F5BB9E);
  font: 900 1.6rem "Barlow Condensed", sans-serif;
  padding: 0.8rem 6rem;
  height: 4rem;
  border-radius: 0.4rem;
  color: #404040;
  margin: 2rem auto;
  transition: all 0.25s ease-in;
  cursor: pointer;
  text-transform: uppercase;
}
footer .foot__btn:hover {
  background: linear-gradient(90deg, #f18e5c, #f5b958);
  color: #fff;
}
footer .foot__btn--franqueado {
  border: none;
  background: #ed6928;
  font: 900 1.6rem "Barlow Condensed", sans-serif;
  padding: 2rem 3.2rem;
  height: 9.6rem;
  border-radius: 0.4rem;
  color: #fff;
  margin: 0 auto;
  transition: all 0.25s ease-in;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
}
footer .foot__btn--franqueado:hover {
  background: linear-gradient(90deg, #f18e5c, #f5b958);
  color: #fff;
}
footer .foot__btn--franqueado .icon {
  color: #fbfbfb;
}
footer .foot i {
  font-size: 2.8rem;
  margin: 0 2rem;
}
footer .foot i:last-of-type {
  margin-right: 0;
}
footer .txt__white {
  letter-spacing: 4px;
}
@media screen and (max-width: 1024px) {
  footer img {
    height: 6.4rem;
  }
  footer .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  footer .foot:last-of-type {
    justify-content: center;
  }
  footer .foot__column-email, footer .foot__column-wpp, footer .foot__column-title, footer .foot__column-unidades {
    text-align: center;
    font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  }
  footer .foot__column img {
    display: block;
    margin: 0 auto;
  }
  footer .txt__white {
    letter-spacing: 1px;
    font: 300 1.4rem/1.5rem "Barlow Condensed", sans-serif;
    text-align: center;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  background: #fff;
  overflow-x: hidden;
}

.nav-franquia {
  background-color: #404040;
  width: 100%;
}
.nav-franquia img {
  display: block;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  background-color: #fbfbfb;
  height: auto;
  box-sizing: border-box;
  z-index: 4;
}
header nav {
  box-sizing: border-box;
}
header nav .container {
  padding: 0;
}
header nav .container .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header nav .container .nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-right: 6rem;
  gap: 144px;
}
header nav .container .nav ul .language {
  position: relative;
  display: inline-block;
}
header nav .container .nav ul .language--modal {
  display: none;
  position: absolute;
  top: 2.8rem;
  right: -8rem;
  background-color: #fbfbfb;
  width: 16rem;
  height: auto;
}
header nav .container .nav ul .language--modal-txt {
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  line-height: 2rem;
  font-weight: 800;
  color: #404040;
}
header nav .container .nav ul .language--modal-txt i {
  margin-right: 1rem;
}
header nav .container .nav ul .language--modal ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0;
  width: 100%;
}
header nav .container .nav ul .language--modal ul li {
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
header nav .container .nav ul .language--modal ul li:hover {
  background: #ed6928;
  color: #fbfbfb;
}
header nav .container .nav ul .language:hover .language--modal {
  display: block;
}
header nav .franqueado, header nav .franqueado--active {
  position: absolute;
  top: 0;
  right: -73rem;
  cursor: pointer;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  width: 73rem;
  height: 16rem;
  padding: 4rem 7rem;
  box-sizing: border-box;
  border-bottom-right-radius: 4rem;
  z-index: 4;
  transition: all 0.25s ease-in;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
  transform: rotate(90deg);
  transform-origin: top left;
}
header nav .franqueado--active {
  height: 80rem;
}
header nav .franqueado:hover, header nav .franqueado--active:hover {
  background: linear-gradient(90deg, #f18e5c, #f5b958);
  box-shadow: 4px 4px 15px rgba(10, 10, 10, 0.25);
}
header nav .franqueado__close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  transition: all 0.25s ease-in;
}
header nav .franqueado__close--deactive {
  display: none;
}
header nav .franqueado__close-title {
  font: 900 6.4rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
  text-transform: uppercase;
}
header nav .franqueado__close .open-toggle {
  font-size: 3.2rem;
  color: #fbfbfb;
  rotate: 90deg;
}
header nav .franqueado__opened {
  display: none;
  height: 0;
  transition: all 0.25s ease-in;
}
header nav .franqueado__opened-title {
  font: 800 5.2rem/5.2rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
  text-transform: uppercase;
}
header nav .franqueado__opened-txt {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
}
header nav .franqueado__opened-btn {
  width: 30rem;
  height: 6.4rem;
  margin-top: 4.8rem;
  background: linear-gradient(105deg, #FFF5E4, #F5BB9E);
  text-transform: uppercase;
  color: #404040;
  font: 800 3.2rem "Barlow Condensed", sans-serif;
}
header nav .franqueado__opened-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
header nav .franqueado__opened-one-l, header nav .franqueado__opened-one-r {
  padding-top: 4rem;
  flex: 1 1 100%;
  height: 36rem;
  width: 100%;
  box-sizing: border-box;
}
header nav .franqueado__opened-one-l {
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
  padding: 2rem 2rem;
}
header nav .franqueado__opened-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 4rem;
  margin-bottom: 8rem;
  box-sizing: border-box;
  gap: 2rem;
}
header nav .franqueado__opened-two .franqueado__opened-title {
  color: #fbfbfb;
}
header nav .franqueado__opened-two .cellphone {
  font-size: 4rem;
  color: #fbfbfb;
}
header nav .franqueado__opened--active {
  display: block;
  transform: rotate(-90deg) translate(-76rem, -7rem);
  transform-origin: top left;
  width: 80rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
header nav .franqueado__opened--active .close {
  position: absolute;
  z-index: 4;
  bottom: 2rem;
  right: 2rem;
}
header nav .franqueado__opened--active .close:hover {
  transform: scale(1.05);
}
header a {
  color: #404040;
  font-size: 2rem;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
header a:hover {
  color: #ed6928;
}
header .toggle {
  display: none;
}
header .menu-toggle {
  display: none;
}
header .gtranslate_wrapper {
  position: absolute;
  right: 18vw !important;
}
@media screen and (max-width: 1024px) {
  header .nav__itens {
    display: none !important;
  }
  header .container .nav {
    padding: 2rem 2rem 0;
  }
  header .container .nav ul {
    display: none;
  }
  header .toggle {
    display: block;
    font-size: 3.2rem;
    color: #ed6928;
  }
  header .menu-toggle {
    display: none;
  }
  header .menu-toggle--active {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #ED6928, #F5B958);
    top: 0;
    z-index: 999;
  }
  header .menu-toggle--active .cross {
    position: absolute;
    top: 3.2rem;
    right: 3.2rem;
    font-size: 3.2rem;
    color: #404040;
  }
  header .menu-toggle--active .language {
    display: block;
    margin: 0 auto;
  }
  header .menu-toggle__position {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  header .menu-toggle__itens {
    font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
    font-weight: 500;
    color: #fbfbfb;
    text-transform: uppercase;
    text-align: center;
    margin: 2.8rem 0;
    letter-spacing: 1px;
  }
  header .franqueado, header nav .franqueado--active {
    display: none;
  }
}
.close {
  width: 2rem;
  height: 2rem;
  border: 2px solid #fbfbfb;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 2rem;
  color: #fbfbfb;
}

.language {
  font-size: 2.4rem;
  color: #404040;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.language:hover {
  color: #ed6928;
}

.title, .franquias__title, .horarios__registry-title {
  font: 800 8rem/8.4rem "Barlow Condensed", sans-serif;
  color: #ed6928;
  text-transform: uppercase;
  text-align: center;
}
.title__equipment {
  text-align: center;
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
  letter-spacing: 3px;
  margin: 4rem 0 2rem;
}
.title__faq {
  text-align: center;
  font: 900 4.8rem "Barlow Condensed", sans-serif;
  color: #404040;
}

.container {
  width: 100%;
  padding: 5rem 0;
  max-width: 1280px;
  margin: 0 auto;
}
.container .btn-modal {
  width: 26rem;
  margin: 2rem auto;
  display: block;
}
.container__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.container__form-franqueado {
  padding: 4rem 8rem 2rem;
  box-sizing: border-box;
}
.container__form-franqueado .title, .container__form-franqueado .franquias__title, .container__form-franqueado .horarios__registry-title, .container__form-franqueado .txt, .container__form-franqueado .franquias__txt {
  color: #fff;
}
.container__form-dsc {
  flex: 2 1 48rem;
}
.container__form-dsc .title, .container__form-dsc .franquias__title, .container__form-dsc .horarios__registry-title, .container__form-dsc .txt, .container__form-dsc .franquias__txt {
  text-align: left;
}
.container__form-card {
  flex: 1 1 70rem;
  display: block;
  margin: 0 auto;
  height: 80rem;
  max-width: 84rem;
  border-radius: 1rem;
  background: linear-gradient(90deg, #ED6928, #F5B958);
}
.container__carrer {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.container-franquias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 4.4rem 0.4rem;
    box-sizing: border-box;
    width: 100%;
  }
  .container__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container__form-dsc {
    padding: 1rem 1rem;
    box-sizing: border-box;
    flex: 0 0 100%;
  }
  .container__form-card {
    flex: 0 0 100%;
    width: 100%;
    border-radius: 0;
  }
  .container__form-franqueado {
    padding: 4rem 2rem 2rem;
  }
  .container-franquias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}

.banner {
  position: relative;
  width: 100%;
}
.banner__img {
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
}
.banner .title, .banner .franquias__title, .banner .horarios__registry-title {
  position: absolute;
  top: 50%;
  left: 15vw;
  transform: translate(0, -50%);
  color: #fbfbfb;
}

.quotes {
  position: relative;
  display: block;
  background-color: #FFF7F3;
  padding: 5rem 0;
}

.txt, .franquias__txt {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
  margin: 1rem 0;
  text-align: center;
}

.boxes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  margin-top: -12rem;
  position: relative;
  gap: 2rem;
  z-index: 4;
}
.boxes .box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex: 1 1 10.9rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}
.boxes .box .fi {
  font-size: 7.2rem;
  color: #ed6928;
}
.boxes .box__txt {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
}
.boxes .box__title {
  font: 900 3.2rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
}
.boxes .box-form {
  flex: 1.4 1 52rem;
  height: 35rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
}
.boxes .box-form__img {
  height: 100%;
}
.boxes .box-form__right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 3.2rem;
  box-sizing: border-box;
}
.boxes .box-form__right-title {
  font: 900 4.8rem "Barlow Condensed", sans-serif;
  color: #ed6928;
  text-transform: uppercase;
}
.boxes .box-form__right-label {
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
  margin: 1rem 0;
}
.boxes .box-form__right-input {
  padding: 0.8rem 1.6rem;
  border: 1px solid #8c8c8c;
  outline: transparent;
  width: 100%;
  border-radius: 0.4rem;
  box-sizing: border-box;
}
.boxes .box-form__right-input::placeholder {
  color: #d9d9d9;
}
.boxes .box-form__right-btn {
  border: none;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  font: 900 1.6rem "Barlow Condensed", sans-serif;
  padding: 0.8rem 6rem;
  height: 4rem;
  border-radius: 0.4rem;
  color: #404040;
  margin: 2rem 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
  text-transform: uppercase;
  color: #fbfbfb;
}
.boxes .box-form__right-btn:hover {
  background: linear-gradient(90deg, #f18e5c, #f5b958);
}
@media screen and (max-width: 1024px) {
  .boxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 4rem;
  }
  .boxes .box {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 4rem 2rem;
    box-sizing: border-box;
    gap: 2rem;
    border-radius: 0.8rem;
  }
  .boxes .box-form {
    height: auto;
    flex-direction: column;
    width: 100%;
  }
  .boxes .box-form__img {
    height: 24rem;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  .boxes .box-form__right {
    width: 100%;
    padding: 1.6rem;
    box-sizing: border-box;
  }
  .boxes .box-form__right-btn {
    width: 100%;
  }
}

.unidades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem 0;
  gap: 1.6rem;
}
.unidades-franquias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5rem auto;
  gap: 3.2rem;
}
.unidades__plans {
  border-radius: 0.4rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
  min-height: 52rem;
}
.unidades__plans-img {
  width: 36rem;
  height: 35rem;
  object-fit: cover;
}
.unidades__plans-main {
  position: relative;
  width: 100%;
  height: 5.6rem;
  background-color: #ed6928;
}
.unidades__plans-title {
  font: 900 3.2rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1rem;
}
.unidades__plans-txt {
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
  text-align: center;
  padding: 0 2.8rem;
  margin: 2.8rem 0;
  box-sizing: border-box;
}
.unidades__plans-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: transparent;
  align-content: center;
  transition: all 0.25s ease-in;
  cursor: pointer;
}
.unidades__plans-btn:hover {
  transform: scale(1.05);
}
.unidades__plans-btn i {
  display: block;
  text-align: center;
  margin: auto;
  color: #fbfbfb;
  font-size: 2rem;
}
.unidades__plans-dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.2rem 6.4rem;
  box-sizing: border-box;
}
.unidades__plans-dl:first-of-type {
  margin-top: 1rem;
}
.unidades__plans-dl dt {
  font: 800 1.6rem "Barlow Condensed", sans-serif;
  color: #404040;
}
.unidades__plans-dl dd {
  font: 300 1.6rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
}
@media screen and (max-width: 1024px) {
  .unidades {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
  }
  .unidades__plans-main {
    padding: 0 2.8rem;
    box-sizing: border-box;
    width: 100%;
  }
  .unidades__plans-title {
    font-size: 2.8rem;
    box-sizing: border-box;
    text-align: left;
  }
  .unidades-franquias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.cards .card {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 2rem;
  background-color: #fff;
  padding: 4.4rem 5.2rem;
  box-sizing: border-box;
  max-width: 52.2rem;
  min-height: 40rem;
  margin-top: 3.2rem;
  transition: all 0.25s ease-in;
}
.cards .card:hover {
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
}
.cards .card__quote {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
}
.cards .card__quote strong {
  font: 800 8rem/8.4rem "Barlow Condensed", sans-serif;
  line-height: 1rem;
  color: #404040;
}
.cards .card__quote strong:last-child {
  line-height: 3.2rem;
}
.cards .card__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  gap: 2rem;
}
.cards .card__footer-img {
  height: 7rem;
}
.cards .card__footer-title {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  color: #404040;
}
.cards .card__footer-txt {
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  color: #404040;
}
@media screen and (max-width: 1024px) {
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .cards .card {
    padding: 2.4rem 2rem;
  }
  .cards .card__quote {
    font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  }
  .cards .card__quote strong {
    font: 900 4.8rem "Barlow Condensed", sans-serif;
  }
  .cards .card__quote strong:last-child {
    line-height: 2.8rem;
  }
  .cards .card__footer-title {
    font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
    font-weight: 900;
  }
  .cards .card__footer-txt {
    font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  }
}

.box-faq {
  display: block;
  border: 0 solid transparent;
  border-radius: 0.8rem;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  width: 95%;
  height: 8.8rem;
  margin: 2rem auto;
  transition: all 0.25s ease-in;
}
.box-faq--active {
  display: block;
  border: 0 solid transparent;
  border-radius: 0.8rem;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  width: 95%;
  overflow: hidden;
  height: 16rem;
  margin: 2rem auto;
}
@media screen and (max-width: 1024px) {
  .box-faq {
    width: 100%;
    height: 8rem;
  }
}

.box-faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem 7rem;
  box-sizing: border-box;
  cursor: pointer;
}
.box-faq__question .faq {
  color: #fbfbfb;
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  margin-right: 2rem;
}
.box-faq__question .fi-ts-angle-small-down {
  font-size: 3.2rem;
  transition: all 0.25s ease-in;
  color: #fbfbfb;
}

.response {
  display: none;
  transition: all 0.25s ease-in;
}
.response--active {
  display: block;
  margin: 0 12rem 0 6.4rem;
  text-align: left;
  font: 300 1.6rem/2rem "Barlow Condensed", sans-serif;
  color: #404040;
  z-index: -1;
}
.response--active a {
  color: inherit;
  font: inherit;
  text-decoration: underline;
}
.response--active a:visited {
  color: inherit;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 5.2rem 8rem;
}
.form select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #d9d9d9;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.form select:checked {
  color: #d9d9d9;
}
.form select:active {
  color: #d9d9d9;
}
.form select:focus {
  color: #d9d9d9;
}
.form select option {
  color: #8c8c8c;
}
.form select option[selected] {
  color: #d9d9d9;
}
.form fieldset {
  margin: 0;
  width: 100%;
  gap: 0.4rem;
}
.form fieldset label {
  display: block;
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
  margin: 1.2rem 0;
}
.form fieldset input, .form fieldset textarea {
  padding: 1.6rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  max-width: 63rem;
  box-sizing: border-box;
}
.form fieldset input::placeholder, .form fieldset textarea::placeholder {
  color: #d9d9d9;
  font-family: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  letter-spacing: 0.8px;
}
.form fieldset textarea {
  height: 24rem;
}
.form .submit {
  width: 24rem;
  padding: 1.2rem 1rem;
  background-color: #404040;
  color: #fbfbfb;
  font-size: 1.4rem;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .form {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .form fieldset {
    margin: 0 auto;
  }
  .form .submit {
    width: 100%;
    height: 5.6rem;
  }
}
.form-franqueado {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 1rem;
  height: auto;
}
.form-franqueado select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #d9d9d9;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.form-franqueado select:checked {
  color: #d9d9d9;
}
.form-franqueado select:active {
  color: #d9d9d9;
}
.form-franqueado select:focus {
  color: #d9d9d9;
}
.form-franqueado select option {
  color: #8c8c8c;
}
.form-franqueado select option[selected] {
  color: #d9d9d9;
}
.form-franqueado fieldset {
  margin: 0;
  width: 100%;
  gap: 0.4rem;
}
.form-franqueado fieldset label {
  display: block;
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
  margin: 1.2rem 0;
}
.form-franqueado fieldset input, .form-franqueado fieldset textarea {
  padding: 1.6rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  max-width: 63rem;
  box-sizing: border-box;
}
.form-franqueado fieldset input::placeholder, .form-franqueado fieldset textarea::placeholder {
  color: #d9d9d9;
  font-family: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  letter-spacing: 0.8px;
}
.form-franqueado fieldset textarea {
  height: 24rem;
}
.form-franqueado .submit {
  width: 24rem;
  padding: 1.2rem 1rem;
  background-color: #404040;
  color: #fbfbfb;
  font-size: 1.4rem;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .form-franqueado {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .form-franqueado fieldset {
    margin: 0 auto;
  }
  .form-franqueado .submit {
    width: 100%;
    height: 5.6rem;
  }
}
.form-franqueado .submit {
  width: 100%;
  background-color: #009951;
  height: 5.4rem;
  color: #fff;
  border-radius: 0.8rem;
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  font-weight: 800;
  margin-top: 4rem;
  text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
  .form-franqueado {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    gap: 0px;
  }
  .form-franqueado select {
    width: 100%;
    padding: 2rem 1.2rem;
    border: 1px solid #d9d9d9;
    outline: none;
    box-sizing: border-box;
    appearance: none;
    margin-bottom: 1rem;
  }
  .form-franqueado select:checked {
    color: #d9d9d9;
  }
  .form-franqueado select:active {
    color: #d9d9d9;
  }
  .form-franqueado select:focus {
    color: #d9d9d9;
  }
  .form-franqueado select option {
    color: #8c8c8c;
  }
  .form-franqueado select option[selected] {
    color: #d9d9d9;
  }
  .form-franqueado fieldset {
    margin: 0;
    width: 100%;
    gap: 0.4rem;
  }
  .form-franqueado fieldset label {
    display: block;
    font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
    color: #fbfbfb;
    margin: 1.2rem 0;
  }
  .form-franqueado fieldset input, .form-franqueado fieldset textarea {
    padding: 1.6rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    max-width: 63rem;
    box-sizing: border-box;
  }
  .form-franqueado fieldset input::placeholder, .form-franqueado fieldset textarea::placeholder {
    color: #d9d9d9;
    font-family: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
    letter-spacing: 0.8px;
  }
  .form-franqueado fieldset textarea {
    height: 24rem;
  }
  .form-franqueado .submit {
    width: 24rem;
    padding: 1.2rem 1rem;
    background-color: #404040;
    color: #fbfbfb;
    font-size: 1.4rem;
    border: 0px solid transparent;
    border-radius: 0.4rem;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1024px) and (max-width: 1024px) {
  .form-franqueado {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .form-franqueado fieldset {
    margin: 0 auto;
  }
  .form-franqueado .submit {
    width: 100%;
    height: 5.6rem;
  }
}

.box-form-in {
  box-sizing: border-box;
}

a {
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
  text-decoration: none;
}
a:visited {
  text-decoration: underline;
}

.modal {
  position: absolute;
  top: 0;
  right: 5.6rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in;
}
.modal--active {
  position: absolute;
  right: 5.6rem;
  top: -12rem;
  width: 30rem;
  height: auto;
  padding-top: 2rem;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
}
.modal--active .close {
  position: absolute;
  right: 1.2rem !important;
  top: 1.2rem !important;
  z-index: 2;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.modal--active .close:hover {
  color: #ed6928;
  border-color: #ed6928;
}
.modal hr {
  width: 90%;
  background-color: #8c8c8c;
}
.modal__links {
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: #404040;
  text-align: center;
  margin: 1.6rem 0;
  transition: all 0.25s ease-in;
}
.modal__links:hover {
  color: #ed6928;
}
.modal__links--btn {
  border: none;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  font: 900 1.6rem "Barlow Condensed", sans-serif;
  padding: 1.2rem 6rem;
  height: 4rem;
  border-radius: 0.4rem;
  color: #404040;
  margin: 2rem auto;
  transition: all 0.25s ease-in;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  height: auto;
  width: 16rem;
}
.modal__links--btn:hover {
  background: linear-gradient(90deg, #f18e5c, #f5b958);
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 2.8rem;
}
.contact .radio-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  margin: 1rem 0;
}
.contact .radio-group input[type=radio] {
  width: 3rem;
}
.contact__dsc {
  flex: 1 1 56rem;
  max-width: 40rem;
}
.contact__dsc .title, .contact__dsc .franquias__title, .contact__dsc .horarios__registry-title, .contact__dsc .txt, .contact__dsc .franquias__txt {
  text-align: left;
}
.contact__dsc .title, .contact__dsc .franquias__title, .contact__dsc .horarios__registry-title {
  color: #404040;
  text-align: left;
}
.contact__locale {
  flex: 1 1 63rem;
  width: 100%;
}
.contact__locale--img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2.8rem;
  border-radius: 0.4rem;
}
.contact__form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
}
.contact__form select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #d9d9d9;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.contact__form select:checked {
  color: #d9d9d9;
}
.contact__form select:active {
  color: #d9d9d9;
}
.contact__form select:focus {
  color: #d9d9d9;
}
.contact__form select option {
  color: #8c8c8c;
}
.contact__form select option[selected] {
  color: #d9d9d9;
}
.contact__form fieldset {
  margin: 0;
  width: 100%;
  gap: 0.4rem;
}
.contact__form fieldset label {
  display: block;
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  color: #404040;
  margin: 1.2rem 0;
}
.contact__form fieldset input, .contact__form fieldset textarea {
  padding: 1.6rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #8c8c8c;
  outline: #8c8c8c;
  width: 100%;
  max-width: 63rem;
  box-sizing: border-box;
}
.contact__form fieldset input::placeholder, .contact__form fieldset textarea::placeholder {
  color: #d9d9d9;
  font-family: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  letter-spacing: 0.8px;
}
.contact__form fieldset textarea {
  height: 24rem;
}
.contact__form .submit {
  width: 24rem;
  padding: 1.2rem 1rem;
  background-color: #404040;
  color: #fbfbfb;
  font-size: 1.4rem;
  border: 0px solid transparent;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
@media screen and (max-width: 1024px) {
  .contact__form {
    padding: 0 1.2rem;
    box-sizing: border-box;
    width: 100%;
  }
  .contact__form fieldset {
    margin: 0 auto;
  }
  .contact__form .submit {
    width: 100%;
    height: 5.6rem;
  }
}
.contact__form fieldset {
  padding: 1rem 0;
}
.contact__form fieldset label {
  margin: 0;
  margin-bottom: 1rem;
}
.contact__form fieldset input, .contact__form fieldset textarea {
  max-width: 100%;
}
@media screen and (max-width: 1024px) {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .contact__dsc {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .contact__locale {
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}

.unity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10rem;
}
.unity__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.unity__row-info {
  flex: 1 1 63rem;
  max-width: 63rem;
}
.unity__row-info .title, .unity__row-info .franquias__title, .unity__row-info .horarios__registry-title, .unity__row-info .txt, .unity__row-info .franquias__txt {
  text-align: left;
}
.unity__row-info .txt, .unity__row-info .franquias__txt {
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
}
.unity__row-img {
  width: 63rem;
  height: 62rem;
  object-fit: cover;
}
.unity__row .tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.unity__row .tag {
  background: linear-gradient(90deg, #ED6928, #F5B958);
  width: 16rem;
  padding: 1.2rem 0;
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  font-weight: 800;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.unity__row .tag--deactive {
  border: 1px solid #ed6928;
  min-width: 11rem;
  padding: 1.2rem 0;
  border-radius: 0.4rem;
  color: #ed6928;
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
}
@media screen and (max-width: 1024px) {
  .unity {
    width: 100%;
  }
  .unity__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .unity__row:nth-last-of-type(1) .unity__row-info {
    order: 9;
  }
  .unity__row:nth-of-type(2) .unity__row-info {
    order: 9;
  }
  .unity__row-info {
    flex: 0 0 100%;
  }
  .unity__row-img {
    width: 100%;
  }
  .unity__row .tags {
    gap: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .unity__row .tags .tag, .unity__row .tags .tag--deactive {
    width: 100%;
    height: 4.8rem;
  }
}

.horarios__filtros {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  float: right;
  width: 50%;
  margin-bottom: 5rem;
}
.horarios__filtros label {
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  color: #404040;
}
.horarios__filtros select {
  width: 100%;
  padding: 2rem 1.2rem;
  border: 1px solid #d9d9d9;
  outline: none;
  box-sizing: border-box;
  appearance: none;
  margin-bottom: 1rem;
}
.horarios__filtros select:checked {
  color: #d9d9d9;
}
.horarios__filtros select:active {
  color: #d9d9d9;
}
.horarios__filtros select:focus {
  color: #d9d9d9;
}
.horarios__filtros select option {
  color: #8c8c8c;
}
.horarios__filtros select option[selected] {
  color: #d9d9d9;
}
.horarios__tab {
  width: 100%;
}
.horarios__tab-daynumb {
  font: 900 4.8rem "Barlow Condensed", sans-serif;
  color: #404040;
}
.horarios__tab-day {
  font: 300 1.6rem/2.4rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
  letter-spacing: 1px;
}
.horarios__tab-row {
  background-color: #ed6928;
  width: 100%;
  box-sizing: border-box;
}
.horarios__tab-row td {
  font: 800 1.4rem/2rem "Barlow Condensed", sans-serif;
  color: #fbfbfb;
  padding: 1.6rem 2rem;
  width: 100%;
}
.horarios__tab--datetime {
  width: 18.2rem;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}
.horarios__registry {
  display: block;
  margin: 1rem auto;
  width: 17.6rem;
  max-height: 28rem;
  background-color: #404040;
  padding: 2.4rem 1rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
}
.horarios__registry-tag {
  border: 1px solid #ed6928;
  background: transparent;
  font: 900 1.6rem "Barlow Condensed", sans-serif;
  padding: 0.2rem 2.4rem;
  height: 4rem;
  border-radius: 50rem;
  color: #404040;
  margin: 1rem 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
  text-transform: uppercase;
  color: transparent;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  font-weight: 400;
  width: 12.8rem;
  height: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  letter-spacing: 1px;
}
.horarios__registry-tag:hover {
  background: transparent;
}
.horarios__registry-tag:hover {
  color: #fbfbfb;
}
.horarios__registry .fi-rr-octagon-exclamation {
  color: #ed6928;
  font-size: 2rem;
}
.horarios__registry-title {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: #fbfbfb;
  text-align: left;
}
.horarios__registry-hour, .horarios__registry-prof {
  font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
}
.horarios__registry-category {
  border: none;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  font: 900 1.6rem "Barlow Condensed", sans-serif;
  padding: 0.2rem 2.4rem;
  height: 4rem;
  border-radius: 0.4rem;
  color: #fbfbfb;
  margin: 2rem auto;
  transition: all 0.25s ease-in;
  cursor: pointer;
  text-transform: uppercase;
  width: 14.4rem;
  height: 3rem;
}
.horarios__registry-category:hover {
  background: linear-gradient(90deg, #f18e5c, #f5b958);
}
@media screen and (max-width: 1024px) {
  .horarios {
    width: 100%;
    overflow: scroll;
  }
  .horarios__filtros {
    float: left;
  }
  .horarios__registry-title {
    font-size: 3.6rem !important;
  }
}

.whatsapp-fixed {
  position: fixed;
  bottom: 4rem;
  right: 20rem;
  z-index: 1000;
  background: #25d366;
  color: #fff;
  border-radius: 8rem;
  width: 16rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  text-decoration: none;
  cursor: pointer;
  animation: wpp 5s ease-in-out 0s infinite alternate;
  transition: all 0.25s ease-in;
}
.whatsapp-fixed i {
  font-size: 2.8rem;
}
.whatsapp-fixed:hover {
  background: #1ebe4e;
  font-weight: 900;
}
.whatsapp-fixed__txt {
  margin-left: 1rem;
  font: 600 1.2rem "Barlow Condensed", sans-serif;
  color: #404040;
}

.cardboxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.cardboxes .cardbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 42rem;
  width: 100%;
  background-color: #fbfbfb;
  padding: 2rem 3.2rem;
  box-sizing: border-box;
  height: 22rem;
  gap: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px rgba(10, 10, 10, 0.2);
}
.cardboxes .cardbox__icon {
  font-size: 6.4rem;
  color: #ed6928;
}
.cardboxes .cardbox__txt {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  color: #404040;
}
@media screen and (max-width: 1024px) {
  .cardboxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
  }
  .cardboxes .cardbox {
    border-radius: 0;
    box-shadow: none;
  }
  .cardboxes .cardbox__icon {
    font-size: 5.6rem;
  }
  .cardboxes .cardbox__txt {
    font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  }
}

.franquias {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  padding: 5rem 0 5rem 32rem;
  width: 40%;
  max-height: 92rem;
  height: 80vh;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  box-sizing: border-box;
}
.franquias__title {
  color: #fff;
  text-align: left;
  padding-right: 2rem;
}
.franquias__txt {
  color: #fff;
  text-align: left;
  padding-right: 2rem;
}
.franquias__opt, .franquias .deactive {
  border: none;
  background: linear-gradient(90deg, #ED6928, #F5B958);
  font: 900 1.6rem "Barlow Condensed", sans-serif;
  padding: 0.4rem 4rem;
  height: 4rem;
  border-radius: 0;
  color: #fff;
  margin: 1.2rem 0;
  transition: all 0.25s ease-in;
  cursor: pointer;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  font: 800 4rem/4.2rem "Barlow Condensed", sans-serif;
  height: 7.2rem;
}
.franquias__opt:hover, .franquias .deactive:hover {
  background: linear-gradient(90deg, #f18e5c, #f5b958);
}
.franquias .deactive {
  background: #fff;
  color: #ed6928;
  transition: all 0.25s ease-in;
}
.franquias .deactive:hover {
  background: #fbfbfb;
  color: #f18e5c;
}
@media screen and (max-width: 1024px) {
  .franquias {
    width: 100%;
    padding: 2rem 0 2rem 2rem;
    height: auto;
  }
  .franquias__opt, .franquias .deactive {
    border-radius: 0.4rem;
    padding: 0.4rem 2rem;
    margin: 1rem auto;
    font: 800 2.4rem "Barlow Condensed", sans-serif;
    width: 88%;
    height: 5.6rem;
  }
  .franquias .deactive {
    background: #fff;
  }
}

.passos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 2rem;
}
.passos__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: 28rem;
  border: 1px solid #ed6928;
  border-radius: 1rem;
  padding: 0 2rem;
  box-sizing: border-box;
}
.passos__card-title {
  font: 900 4.8rem "Barlow Condensed", sans-serif;
  color: #404040;
  text-transform: uppercase;
}
.passos__card-txt {
  font: 300 3.2rem/4rem "Barlow Condensed", sans-serif;
  color: #8c8c8c;
  text-align: center;
  margin-top: 1.2rem;
}

.foot-franqueado {
  background-color: #404040;
}

@keyframes wpp {
  from {
    bottom: 8rem;
  }
  to {
    bottom: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .title, .horarios__registry-title, .franquias__title {
    font: 900 4.8rem "Barlow Condensed", sans-serif;
  }
  .txt, .franquias__txt {
    font: 300 2rem/2.4rem "Barlow Condensed", sans-serif;
  }
  .dsc-contato {
    flex: 1 1 100%;
  }
  .form {
    flex: 0 0 100%;
    margin: 0 auto;
  }
  .modal__infos {
    padding: 2rem;
  }
  .modal__img {
    height: 35vh;
    border-radius: 0;
  }
  .modal__img #item {
    height: 35vh;
    width: 100vw;
  }
  .box-faq {
    height: 7.2rem;
  }
  .box-faq--active {
    height: auto;
    padding-bottom: 2rem;
  }
  .box-faq .faq {
    font: 400 1.6rem/2rem "Barlow Condensed", sans-serif;
  }
  .box-faq__question {
    padding: 1rem 2rem;
  }
  .whatsapp-fixed {
    bottom: 8rem;
    right: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
